In [ ]:
#in lambda function
#write if-else
#<if_out> if else <else_out>

In [ ]:
**Dictionary**

- We already seen many Datatypes

- String

- list

- Set

- Dictionary

- int float bool complex

- numpy pandas range

- array

- bytes

- eval is not a datatype

In [ ]:
string=''
list=[]
tuple=()
set={}
dictionary={key:value}

**zip**
- zip is used to combining

In [3]:
names=['ramesh','suresh','sathish']
age=[20,25,30]
#op=ramesh 20 suresh 25 sathish 30

for i,j in zip(names,age):
    print(i,j)

ramesh 20
suresh 25
sathish 30

In [5]:
list(zip(names,age))

[('ramesh', 20), ('suresh', 25), ('sathish', 30)]

In [ ]:
dict1={<key>:<value>}
names=['ramesh','suresh','sathish']
age=[20,25,30]
'ramesh' is the dictionary ====20 its related value
dict1={'ramesh':20,'suresh':25,'sathish':30}

In [6]:
dict1={'ramesh':20,'suresh':25,'sathish':30}
type(dict1)

dict

In [ ]:
#if the list are of different length?
#if both lists are different length zip will not work

In [ ]:
- initialization

- type

- max

- min

- len

- reversed

- sorted

- in

- index

- concate

- slicing

- methods

**Create all type of dictionaries**

In [ ]:
dict1={'ramesh':20,'suresh':25,'sathish':30}
dict2={20:'ramesh',:25:'suresh',30:'sathish'}
dict3={['ramesh','suresh','sathish']:[20,25,30]}
d4={'ramesh':'20','suresh':'25','sathish':'30'}
d5={20:25}

In [1]:
d6={'fruites':['apple','cherry']}
d6

{'fruites': ['apple', 'cherry']}

In [2]:
d7={['apple','cherry']:'fruites'}
d7

TypeError: unhashable type: 'list'

In [3]:
d7={('apple','cherry'):'fruites'}
d7

{('apple', 'cherry'): 'fruites'}

In [7]:
d8={'ajay':80,'ajay':90}
d8

{'ajay': 90}

In [9]:
d9={25:'ajay',30:'ajay'}
d9

{25: 'ajay', 30: 'ajay'}

In [1]:
d10={'fruits':{'mango':25}}
d10

{'fruits': {'mango': 25}}

**keys are important**

- keys have only latest value

- no duplicate keys

- keys should be only one

- values can be duplicate

- which means different keys can have same value

- list can not be a key,because list is a mutable

- tuple can be a key, because tuple are immutable

In [2]:
dict1={'ramesh':20,'suresh':25,'sathish':30}
dict2={20:'ramesh',25:'suresh',30:'sathish'}
d4={'ramesh':'20','suresh':'25','sathish':'30'}
d5={'ramesh':20,'suresh':'30','sathish':15}
d6={20:'ramesh','25':'suresh',30:'sathish'}
dict7={'ramesh':20,'suresh':20,'sathish':20}
dict8={20:'ramesh',20:'suresh',20:'sathish'}

max(dict1)

SyntaxError: invalid syntax (1520973249.py, line 2)

In [3]:
dict1={'ramesh':20,'suresh':25,'sathish':30}
max(dict1)

#operations apply on keys
#keys are important

'suresh'

In [4]:
dict2={20:'ramesh',25:'suresh',30:'sathish'}
max(dict2)

30

In [5]:
dict3={['ramesh','suresh','sathish']:[20,25,30]}
dict3

TypeError: unhashable type: 'list'

In [6]:
d4={'ramesh':'20','suresh':'25','sathish':'30'}
max(d4)

'suresh'

In [7]:
dict1={'ramesh':20,'suresh':25,'sathish':30}
min(dict1)

'ramesh'

In [8]:
dict2={20:'ramesh',25:'suresh',30:'sathish'}
min(dict2)

20

In [9]:
d4={'ramesh':'20','suresh':'25','sathish':'30'}
min(d4)

'ramesh'

In [10]:
d5={'ramesh':20,'suresh':'30','sathish':15}
min(d5)

'ramesh'

In [11]:
d6={20:'ramesh','25':'suresh',30:'sathish'}
min(d6)

TypeError: '<' not supported between instances of 'str' and 'int'

In [12]:
dict7={'ramesh':20,'suresh':20,'sathish':20}
min(dict7)

'ramesh'

In [17]:
dict7={'ramesh':20,'suresh':20,'sathish':20}
reversed(dict7)

In [18]:
d4={'ramesh':'20','suresh':'25','sathish':'30'}
reversed(d4)

In [20]:
dict1={'ramesh':20,'suresh':25,'sathish':30}
list(reversed(dict1))

['sathish', 'suresh', 'ramesh']

**reversed**

- you might have think dictionary will reverse

- when you apply reversed,then you got to know

- only keys will come in reverse

In [21]:
dict1={'ramesh':20,'suresh':25,'sathish':30}
sorted(dict1)

['ramesh', 'sathish', 'suresh']

In [22]:
dict8={20:'ramesh',20:'suresh',20:'sathish'}
sorted(dict8)

[20]

In [23]:
dict1={'ramesh':20,'suresh':25,'sathish':30}
sorted(dict1)

['ramesh', 'sathish', 'suresh']

In [24]:
dict1={'ramesh':20,'suresh':25,'sathish':30}
#dictionary is key:value pair
#we can not use index number directly
#whenever yo want to call a value,we will use key
dict1=['ramesh']
dict1=['suresh']
dict1=['sathish']

dict1[i]

20

In [26]:
for i in dict1:
    print(f"{i} has age {dict1[i]}")

ramesh has age 20
suresh has age 25
sathish has age 30

In [ ]:
names=['manish','shubam','nagesh']
age=[20,25,30]
for i,j in zip(names,age):
    print(f"{i} has age {j}")

**dictionary to list**

In [28]:
dict1={'ramesh':20,'suresh':25,'sathish':30}
keys,values=[],[]
for i in dict1:
    keys.append(i)
    values.append(dict1[i])
values

[20, 25, 30]

In [ ]:
keys=[i for i in dict1]
values=[d

In [ ]:
**how to convert dictionary**

In [ ]:
l=[]
l.append(20)
l

In [ ]:
**empty string**

In [ ]:
s='s'

In [ ]:
**empty dictionary**

In [ ]:
d={}
d['rani']=20
d[

In [ ]:
zip(d[names]

In [ ]:
names

In [ ]:
**indexing**

In [ ]:
**string to list**

In [30]:
s='how how  are are you'
s.split()

['how', 'how', 'are', 'are', 'you']

**word frequency**

In [34]:
s='hello hai hai how how are you'
#o/p:{'hello':1,'hai':2,'how':2,'are':1,'you':2}
s.split()
for i in s:
    print(i.count(s))

0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

In [ ]:
**mutable-immutable**

- change the elements using index

- but in dictionary there is no index

- in dictionary wewill change the value based on key only

-

In [36]:
d={'frites':[{'apple':['kashmir']}]}
d['frites'][0]['a

{'apple': ['kashmir']}

In [40]:
d={'frwites':[{'apple':{'kashmir':['india']}}]}
d['frwites']:[0]['apple']['kashmir'][0]

<>:2: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
<>:2: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
C:\Users\balas\AppData\Local\Temp\ipykernel_11528\4135796044.py:2: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  d['frwites']:[0]['apple']['kashmir'][0]
C:\Users\balas\AppData\Local\Temp\ipykernel_11528\4135796044.py:2: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  d['frwites']:[0]['apple']['kashmir'][0]
C:\Users\balas\AppData\Local\Temp\ipykernel_11528\4135796044.py:2: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  d['frwites']:[0]['apple']['kashmir'][0]
C:\Users\balas\AppData\Local\Temp\ipykernel_11528\4135796044.py:2: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  d['frwites']:[0]['apple']['kashmir'][0]
C:\Users\balas\AppData\Local\Temp\ipykernel_11528\4135796044.py:2: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  d['frwites']:[0]['apple']['kashmir'][0]
C:\Users\balas\AppData\Local\Temp\ipykernel_11528\4135796044.py:2: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  d['frwites']:[0]['apple']['kashmir'][0]
C:\Users\balas\AppData\Local\Temp\ipykernel_11528\4135796044.py:2: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  d['frwites']:[0]['apple']['kashmir'][0]
C:\Users\balas\AppData\Local\Temp\ipykernel_11528\4135796044.py:2: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  d['frwites']:[0]['apple']['kashmir'][0]
C:\Users\balas\AppData\Local\Temp\ipykernel_11528\4135796044.py:2: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  d['frwites']:[0]['apple']['kashmir'][0]

TypeError: list indices must be integers or slices, not str

In [44]:
d{'fruites':{'benganapalli':{'mango':{'nagpur':{'shivaji':{'shambaji'}}}}}}
d{'fruites'}{0}{'mango'}['nagpur']['shivaji'][0]

SyntaxError: invalid syntax (468073115.py, line 1)

In [1]:
d1={'manish':25,'shubam':20,'govindh':15}
#dictionary is a key:value pair
#we can not use index number directly
#whenever you want to call a value, we will use key
d1['manish']
d1['shubam']
d1['govindh']

d1[i]

25

In [4]:
for i in d1:
    print(f"{i} age is {d1[i]}")

manish age is 25
shubam age is 20
govindh age is 15

In [5]:
d={20:'ramesh','25':'suresh',30:'sathish'}
list(d.keys()),list(d.values())

([20, '25', 30], ['ramesh', 'suresh', 'sathish'])

In [3]:
d6.items()

NameError: name 'd6' is not defined

In [1]:
d1={'manish':25,'shubam':20,'govindh':15}
#dictionary is a key :value pair
#we cant not use index number directly
#when ever you want to call a value we will use key
d1['manish']
d1['shubam']
d1['govindh']

d1[i]

25

In [ ]:
#if we want to call directly we using a key value

In [5]:
for i in d1:
    print(f"{i} has the age of {d1[i]}")

manish has the age of 25
shubam has the age of 20
govindh has the age of 15

# compare the list

In [ ]:
# if a person is giving two lists  then we need to use 'zip' function

In [6]:
names=['manish','shubam','vignesh']
age=[20,25,30]
for i,j in zip(names,age):
    print(f"{i} has the age {j}")

manish has the age 20
shubam has the age 25
vignesh has the age 30

In [ ]:
d1={'manish':25,'shubam':20,'govindh':15}

In [ ]:
**dictionary**

- we alrady seen many datatypes

- string

- list

- tuple

- set

- dictionary

- int float complex boolean

- eval is not a datatype

- pandas numpy

- range

- bytes

In [ ]:
# represents
string=''
tuple=()
list=[]
set={}
dictionary={key:value}

In [ ]:
# zip

- zip is used to combined the list

In [7]:
names=['ramesh','suresh','satish']
age=[20,25,30]
#here are the two lists we need to combine like this 
#op= ramesh age is 20
for i,j in zip(names,age):
    print(f"{i} is the age of {j}")

ramesh is the age of 20
suresh is the age of 25
satish is the age of 30

In [10]:
type(list(zip(names,age)))

list

In [ ]:
dict1={<key>:<value>}
names=['ramesh','suresh','sathish']
age=[20,25,30]
'ramesh' is the key =====20 its related value
dict1={'ramesh':20,'suresh':25,'satish':30}

In [11]:
dict1={'ramesh':20,'suresh':25,'satish':30}
type(dict1)

dict

In [ ]:
if the list are different length?
if both  lists are different length, zip will not work

In [ ]:
- initialization

- type

- max

- min

- len

-reversed

- sorted

- in

- index

- concate

- mutable

In [ ]:
**create all type of dictionaries**

In [24]:
#d1={'ramesh':20,'suresh':25,'satish':30}
#d2={'ramesh':'20','suresh':'25','satish':'30'}
#d3={20:'ramesh',25:'suresh',30:'satish'}
#d4={'ramesh':[20],'suresh':[25],'satish':[30]}
#d5={'ramesh':(20),'suresh':(25),'satish':(30)}
#d6={'ramesh':20,'suresh':20,'satish':20}
#d7={'fruites':['apple','mango']}
#d8=20:25
#d9={['apple','mango']:'fruites'}
d10={'frites':{'mango':25}}



d10

{'frites': {'mango': 25}}

**keys are important**

- keys have only latest value

- no duplicate keys

- keys should be only one

- values can be duplicate 

- which means dierent keys can have same value

- list can not be a key, because lists are mutable

- tuple can be a key, because tuple are immutable

In [36]:
d1={'ramesh':20,'suresh':25,'satish':30}
#max(d1)
min(d1)
len(d1)
list(reversed(d1))
sorted(d1)

#d3={20:'ramesh',25:'suresh',30:'satish'}

#operations apply on keys

#keys are important for us

['ramesh', 'satish', 'suresh']

In [45]:
d2={'ramesh':'20','suresh':'25','satish':'30'}
max(d2)
min(d2)
len(d2)
list(reversed(d2))
sorted(d2)
'r'in(d2)

False

In [45]:
d2={'ramesh':'20','suresh':'25','satish':'30'}
max(d2)
min(d2)
len(d2)
list(reversed(d2))
sorted(d2)
'r'in(d2)

False

In [51]:
d3={20:'ramesh',25:'suresh',30:'satish'}
max(d3)
min(d3)
len(d3)
list(reversed(d3))
sorted(d3)
in(d3)

SyntaxError: invalid syntax (4014427986.py, line 7)

In [56]:
d4={'manish':25,'shubam':'20','govindh':15}
max(d4)
min(d4)
len(d4)
list(reversed(d4))
sorted(d4)
in(d4)

SyntaxError: invalid syntax (3597481537.py, line 7)

In [57]:
d5={20:'manish','20':'shubam',30:'govindh'}
max(d5)
min(d5)
len(d5)
list(reversed(d5))
sorted(d5)
#in(d4)

TypeError: '>' not supported between instances of 'str' and 'int'

In [59]:
d6={'manish':20,'shubam':20,'govindh':20}
max(d6)
min(d6)
len(d6)
list(reversed(d6))
sorted(d6)
'manish' in(d6)

True

In [31]:
d7={20:'manish',20:'shubam',20:'govindh'}
max(d7)
min(d7)
len(d7)
list(reversed(d7))
sorted(d7)
in(d7)

20

**index**

In [60]:
d1={'manish':25,'shubam':20,'govindh':15}
#if you want retrieve the values
#python will never give 'manish':25
#you compulsary call like
d1['manish']

25

**dictionary to list**

In [63]:
d1={'manish':25,'shubam':20,'govindh':15}
keys,values=[],[]
for i in d1:
    keys.append(i)
    values.append(d1[i])
keys,values

(['manish', 'shubam', 'govindh'], [25, 20, 15])

In [65]:
keys=[i for i in d1]
values=[d1[i] for i in d1]

**how to create a empty list**

In [70]:
l=[]
l.append(20)
l.append(30)
l

[20, 30]

In [69]:
l1=[]
l1.append(80)
l1

[80]

**empty string**

In [72]:
s=''
s='a'
s

'a'

In [73]:
s=''
s='a'
s

'a'

**empty dictionary**

In [76]:
d={}
#d[<key>]=<value>
d['rani']=23
d

{'rani': 23}

In [77]:
d={}
#d[<key>]=<value>
d['rani']=23
d['rena']=29
d['raji']=23
d

{'rani': 23, 'rena': 29, 'raji': 23}

In [78]:
names=['rani','rena','raji']
age=[23,29,23]
for i,j in zip(names,age):
    print(f"{i} has the age of{j}")

rani has the age of23
rena has the age of29
raji has the age of23

In [79]:
names=['rani','rena','raji']
age=[23,29,23]
#d[i]=j
for i,j in (names,age):
    print(i,d[j])
names,age

ValueError: too many values to unpack (expected 2)

In [ ]:
d{}
d[i]=j

In [81]:
names=['rani','rena','raji']
age=[23,29,23]
Names={}
for i,j in zip(names,age):
    Names[i]=j
Names

In [84]:
names=['rani','renu','raji']
age=[20,21,22]
D={}
#create a list using this two lists
#by using two lists combining one op that is zip 
for i,j in zip(names,age):
    D[i]=j
D

{'rani': 20, 'renu': 21, 'raji': 22}

In [90]:
# dict to list
d={'rani':23,'rena':29,'raji':30}
#op=(['rani','rena','raji'],[23,29,30])
keys,values=[],[]
for i in d:
    print(keys.append(i))
    print(values.append(d[i]))
keys,values

None
None
None
None
None
None

(['rani', 'rena', 'raji'], [23, 29, 30])

In [92]:
games={'cricket':11,'kabaddi':7,'khokho':14}
keys,values=[],[]
for i in d:
    keys.append(i)
    values.append(d[i])
keys,values

(['rani', 'rena', 'raji'], [23, 29, 30])

In [93]:
#list to dict
games=['cricket','kabaddi','khokho']
members=[11,7,11]
D={}
for i,j in zip(games,members):
    D[i]=j
D

{'cricket': 11, 'kabaddi': 7, 'khokho': 11}

**string to list**

In [96]:
s='hello hai hai hai how  hello are you'
#split is used to convert string to list
s.split()

['hello', 'hai', 'hai', 'hai', 'how', 'hello', 'are', 'you']

**word frequency program**

In [106]:
#o/p:{'hello':2,'hai':3,'how':1,'are':1,'you':1}
#idea
#step-1:split the string:list of words
#step-2:iterate using the list
#           each word will come apply the ount 
#            word key,count become value
#step-3:make a dictionary

s='hello hai hai hai how  hello are you'
words_list=s.split()
words_list
dict1={}
for word in words_list():
    #print(s.count(word))
    dict1[word]=s.count(word)
dict1

TypeError: 'list' object is not callable

In [107]:
s='hello hai hai hai how  hello are you'
words_list=s.split()
words_list
dict1={}
for word in words_list:
    #print(s.count(word))
    dict1[word]=s.count(word)
dict1

{'hello': 2, 'hai': 3, 'how': 1, 'are': 1, 'you': 1}

In [116]:
s='good good morning hyd hyd'
#op={'good':1,'morning':1,'hyd':1}
words_list=s.split()
words_list
d={}
for word  in words_list:
   # print(s.count(word))
    d[word]=s.count(word)
d

{'good': 2, 'morning': 1, 'hyd': 2}

In [83]:
Names

{'rani': 23, 'rena': 29, 'raji': 23}

In [119]:
d={'rani':23,'rena':29,'raji':30}
d['rani']=22
d

{'rani': 22, 'rena': 29, 'raji': 30}

In [ ]:
- LIST and dictionary are mutable

- tuple and strings are immutable

- difference b/w list and tuple

In [3]:
d={'fruites':['mango']}
d['fruites'][0]

'mango'

In [13]:
d={'fruites':[{'apple':['kashmir']}]}
d['fruites'][0]['apple'][0]

'kashmir'

In [19]:
d1={'fruites':[{'orange':['kashmir']}]}
d1=['fruites']

In [ ]:
- first need to  check ==d['fruites'] -----

- next see whether it is  dictionary or list

- if it is dictionary next add the key ====d['apple']

- if it is list next add the list index===d['apple'][0]

- if any doubt in length its immediatly check on that ===len(d['apple'])

- then we see 'kashmir'

In [20]:
d={'fruites':[
    {'apple':
     {'kashmir':
      ['india']
     }
    }
]
  }
d

{'fruites': [{'apple': {'kashmir': ['india']}}]}

In [26]:
d['fruites'][0]['apple']['kashmir'][0]

'india'

In [35]:
d={'fruites':{'benganapalli':{'mango':{'nagpur':{'mh':{'shivaji':{'shambaji'}}}}}}}
type(d['fruites']['benganapalli']['mango']['nagpur']['mh']['shivaji'])

set

**dictionary methods**

In [ ]:
dir('') #string methods
dir([]) #list methods
dir(()) #tuple methods
dir({}) #dictionary methods

In [36]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

**items-keys-values**

In [ ]:
#<package>.<methodname>

In [39]:
d1={'manish':25,'shubam':20,'govindh':15}
d1.items()
d1.keys()
d1.values()

dict_values([25, 20, 15])

In [43]:
#we already learn how to make a list from dictionary
d={'manish':25,'shubam':20,'govindh':15}
keys,values=[],[]
for i in d:
    print(i,d[i])
    keys.append(i)
    values.append(d[i])
keys,values

manish 25
shubam 20
govindh 15

(['manish', 'shubam', 'govindh'], [25, 20, 15])

In [44]:
dir(list())

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [50]:
d={'vignesh':20,'mohit':25,'nagesh':30}
#type(d.keys())
list(d.keys()),list(d.values())

(['vignesh', 'mohit', 'nagesh'], [20, 25, 30])

- dictionary keys will give dictionary keys items in alist

- it looks like a list,but it is not alist

- which means we can not apply list methods

- so we need to convert into list type ,by using list type casting

In [53]:
d={'manish':25,'shubam':20,'govindh':30}
list(d.keys()),list(d.values())

(['manish', 'shubam', 'govindh'], [25, 20, 30])

In [55]:
list(d.keys())[0]

'manish'

In [58]:
list[d.keys()]
#len(list[dict_keys(['manish', 'shubam', 'govindh'])])

NameError: name 'dict_keys' is not defined

**method-1**

In [ ]:

d={'manish':25,'shubam':20,'govindh':15}
keys,values=[],[]
for i in d:
    print(i,d[i])
    keys.append(i)
    values.append(d[i])
keys,values

**method-2**

In [ ]:
d={'manish':25,'shubam':20,'govindh':30}
keys=list(d.keys()),
values=list(d.values())

In [59]:
d.items()

dict_items([('manish', 25), ('shubam', 20), ('govindh', 30)])

**method-3**

In [62]:
keys,values=[],[]
for i,j in d.items():
    print(i,j)
    keys.append(i)
    values.append(j)
keys,values

manish 25
shubam 20
govindh 30

(['manish', 'shubam', 'govindh'], [25, 20, 30])

In [71]:
d={'manish':25,'shubam':20,'govindh':30}
d
#d.clear()
d.copy()
#dir({})

{'manish': 25, 'shubam': 20, 'govindh': 30}