In [1]:
print(10)

10

In [2]:
print('python')

python

In [3]:
print(10,20,30)

10 20 30

In [4]:
print(10,10.,'naresh',True)

10 10.0 naresh True

In [5]:
n1=10
n2=20
print(n1,n2)

10 20

In [6]:
print(10),print(20)

10
20

(None, None)

In [ ]:
print(10,20,30)
print(10),print(20)

**note**

- dont try to write print in horizontal write only vertically always

- other wise write as print(10,20,30)

In [8]:
a=10
b=20
c=a+b
c
#the addition of 10 and 20 is 30
print("the addition of 10 and 20 is 30")
print("the addition of",a,"and",b,"is",c)

the addition of 10 and 20 is 30
the addition of 10 and 20 is 30

In [9]:
print("the addition of {} and {} is {}".format(a,b,c))

the addition of 10 and 20 is 30

In [12]:
x=100
y=200
z=300
r=x+y+z
print("the addition of {} and {} and {} and {}".format(x,y,z,r))

the addition of 100 and 200 and 300 and 600

**format method**

In [14]:
#read your name 
#read your age
#read your city
#my name is python,im 10 years old im from hyd

In [16]:
name='python' #what ever we want write value is it is integer write
              #without quotes but it is sentence or word write  within the quotes
age=10
city='hyd'
print("my name is {},im {} years old im from {}".format(name,age,city))

my name is python,im 10 years old im from hyd

In [ ]:
#read your name
#wt r u completed
#wt do u want ur professon
#my name is rani,im completed fullstack datascience,and i want in my profsson as data scientist

In [17]:
name="rani"
study="fsds"
profession="data scientist"
print("my name is {},im completed {},and i want to in my profession {}".format(name,study,profession))

my name is rani,im completed fsds,and i want to in my profession data scientist

In [ ]:
#employee name
#employee role
#company

In [20]:
name='rani'
role='data scientist'
company='google'
print("one employee in sotware her name is {} and she  is worked as{}  in {}".format(name,role,company))

one employee in sotware her name is rani and she  is worked asdata scientist  in google

**f string**

In [22]:
a=100
b=200
c=a+b
print(f"the additon of {a} and {b} is {c}")

the additon of 100 and 200 is 300

In [24]:
x=1
y=2
z=x+y
print(f"the addition of {x}and {y} is {z}")

the addition of 1and 2 is 3

In [27]:
yelderbrother="shiva"
youngerbro="laxman"
smallbro="prince"
lastbro="chintu"
print(f"my cute brothers are {yelderbrother},{youngerbro},{smallbro},{lastbro}")

my cute brothers are shiva,laxman,prince,chintu

In [32]:
num1=100
num2=200
average=(num1+num2)/2
#the average of 100 and 200 is :150
print("the average of {} and {} is:{}".format(num1,num2,average))
print(f"the average of{num1} and {num2} is:{average}")

the average of 100 and 200 is:150.0
the average of100 and 200 is:150.0

In [49]:
#take the radius of circle
#take the pi value=3.14
#find the area of the circle
radius=100
pi_value=3.14
area=pi_value*radius*radius
print("area of the circle:{}".format(area))
print(f"area of the circle:{area}")

area of the circle:31400.0
area of the circle:31400.0


- format spelling

- brackets are not providing

- you are keeping

- for getting the quotes also

In [55]:
#take the base of triangle
#take the height of the traingle
#area of the triangle=1/2*base*height
baseofthetriangle=10
height=20
area=1/2*baseofthetriangle*height
print("area of the triangle is:{}".format(area))

area of the triangle is:100.0

In [61]:
#take the bill_amount=1000
#take the tip_percentage=10
#calculate the tip amount
#calculate the total bill
#print the total bill
bill_amount=1000
tip_percentage=10
tip_amount=bill_amount*tip_percentage/100
total_bill=tip_amount+bill_amount
print("tip amount is:{}".format(tip_amount))

print(f"total bill is:{total_bill}")

tip amount is:100.0
total bill is:1100.0

In [62]:

print(10)
print(20)

10
20

In [63]:
print(10,20)

10 20

**end**

- combining multiple print statements in a single line

In [67]:
print(10,end=' ,')
print(20)

10 ,20

In [70]:
print(10,end=',')
print(20,end=',')
print(30)

10,20,30

***sep***

- seperate the multiple values in a single print statements

In [72]:
print(10,20,30,40,sep='&')

10&20&30&40

In [73]:
print(10,20,30,sep='--->')

10--->20--->30

In [74]:
print(f"the addition of{5} and{3} is{5+3}.")

the addition of5 and3 is8.

In [75]:
print("the addition of{}and{} is:{}".format(5,3,5+3))

the addition of5and3 is:8

In [76]:
print("the addition of 5 and 3 is:8",".",sep='')

the addition of 5 and 3 is:8.