**Lambda functions**

- Lambda functions represents function concept

- But we can write in a single line

- Like list comprehension,lambda functions similar only

- It will decrease the time complexity

- always remember if we use many for loops or many conditions using multiple line, the time

- compexity willincrease

In [ ]:
**syntax**

- it will use a keyword lambda

# lambda <arguments>:<expression>

In [3]:
def sum(n):
    return(n+10)
sum(10)

20

$pattern-1$

**Function with only one argment**

- function name

- argument name

- return output

In [ ]:
# syntax: <function name>= lambda <argument name>: <return output>
def sum(n):
    return(n+10)
sum(10)

# fnction name=sum

#arument name=n

#retrn output=n+10

In [5]:
sum=lambda n:n+10
sum(100)

110

In [7]:
def cube(n):
    return(n**3)
cube(10)

1000

In [9]:
cube=lambda n:n**3
cube(10)

1000

In [10]:
def sub(n):
    return(n-10)
sub(2)

-8

In [11]:
sub=lambda n:n-10
sub(2)

-8

$pattern-2$

- Twoargments

In [12]:
# syntax : <functon name>=lambda <argument1>,<argument2>:<return output>
def add(a,b):
    return(a+b)
add(10,20)
#function name=add
#argemnts names =a,b
#return output =a+b

30

In [13]:
add=lambda a,b:a+b
add(10,20)

30

In [15]:
def avg(a,b):
    return((a+b)/2)
avg(20,20)

20.0

In [17]:
avg=lambda a,b:round((a+b)/2,2)
avg(20,20)

20.0

In [18]:
def add(a,b,c):
    return(a+b+c)
add(20,40,60)

120

In [22]:
def avg(a,b,c):
    return(round((a+b+c)/3),2)
avg(20,40,60)

(40, 2)

$pattern-3$

- deault arguments

In [27]:
avg=lambda a,b,c:round((a+b+c)/3,2)
avg(10,202,30)

80.67

In [28]:
avg=lambda a,b,c=30:round((a+b+c)/3,2)
avg(10,20)

20.0

**pattern-4**

**if-else**

In [29]:
def max(a,b):
    if a>b:
        return(a)
    else:
        return(b)
max(1,2)

2

In [30]:
# syntax:function name=lambda <arg1>,<arg2>:<list comprehension>
#syntax:function name=lambda <arg1>,<arg2>:<if_out><if_con><else><else_out>

max=lambda a,b:a if a>b else b
max(40,20)

40

In [31]:
def min(a,b):
    if a<b:
        return(a)
    else:
        return(b)
min(10,20)

10

In [32]:
min=lambda a,b:a if a<b else b
min(10,20)

10

**pattern-5**

**using list**

In [33]:
l=['hyd','chennai','mumbai']
#op=['Hyd','Chennai','Mumbai']
op=[]
for i in l:
    op.append(i.capitalize())
op

['Hyd', 'Chennai', 'Mumbai']

In [34]:
lambda <variable>:<op>
#variable:i
#op:i.capitalize()
lambda <variable>:<op>,<iterator>
#<iterator>:list
lambda i:i.capitalize(),l

SyntaxError: invalid syntax (2273265115.py, line 1)

**map**

- the fncton and iterator are available now

- we need to map both

In [37]:
lambda i:i.capitalize(),l

(<function __main__.<lambda>(i)>, ['hyd', 'chennai', 'mumbai'])

In [38]:
l=['hyd','chennai','mumbai']
map(lambda i:i.capitalize(),l)

In [39]:
#apply the list to see the values
l=['hyd','chennai','mumbai']
list(map(lambda i:i.capitalize(),l))

['Hyd', 'Chennai', 'Mumbai']

In [2]:
l=['hyd','chennai','mmbai']
#op=['Hyd','Chennai','Mumbai']
op=[]
lambda <variable>:<expression>
lambda i:i.capitalize(),l
map(lambda i:i.capitalize(),l)

SyntaxError: invalid syntax (3720365279.py, line 4)

In [3]:
l=['hyd','chennai','mmbai']
map(lambda i:i.capitalize(),l)

In [4]:
l=['hyd','chennai','mmbai']
list(map(lambda i:i.capitalize(),l))

['Hyd', 'Chennai', 'Mmbai']

In [5]:
l=['hyd','chennai','mmbai']
tuple(map(lambda i:i.capitalize(),l))

('Hyd', 'Chennai', 'Mmbai')

In [6]:
lambda <variable>:<expression>
lambda i:i.capitalize()
lambda i:i.capitalize(),l
map(lambda i:i.capitalize(),l)
list(lambda i:i.capitalize(),l)

SyntaxError: invalid syntax (2312130331.py, line 1)

In [ ]:
#step-1:write your normal expression
#           ex:lambda <variable>:<op>===>lambda i:i.capitalize()
#step-2:add the iterator
#       ex:lambda <var>:<op>,<list>====>lambda i:i.capitalize(),list1
#step-3:map the both
#         ex:map(lambda <var>:<op>.<list>)===>map(lambda i:i.capitalize(),l)
#step-4:save the vales in a list,
#ex:list(map(lambda <var>:<op>,<list>))====>list(map(lambda i:i.capitalize(),list))


#note: those who are getting list object not callable use tuple

In [ ]:
- case-1:function call with only one argument
      -lambda <argments>:<expression>

      -lambda variables: return output

- case-2:function call with two argments

       -lambda <arg1>,<arg2>:<expression>

       -lambda var1,var2:return out put
- case-3:function call with default argments 

        -lambda <ar1>,<arg2=500>:<expression>

        -lambda var1,var2=500:return output
- case-4:function call with if-else
        -lambda arg1,arg2:expression
      

        -lambda arg:if_out if_con else else_out for_loop
- case-5:lambda operations using list
        - lambda arg:expresion,iterator

        -map(lambda arg:operation,iterator)

        -list(map(lambda arg:operation,iterator))

In [9]:
l=['hyd','chennai','mumbai']
#op=['HYD','CHENNAI','MMBAI']
for i in l:
    print(i.upper())
lambda i:i.upper()
lambda i:i.upper(),l
map(lambda i:i.upper(),l)
list(map(lambda i:i.upper(),l))

HYD
CHENNAI
MUMBAI

['HYD', 'CHENNAI', 'MUMBAI']

In [12]:
l=['HYD','CHENNAI','MUMBAI']
#op=['hyd','chennai','mumbai']
for i in l:
    print(i.lower())
#lambda <arg>:ex
#lambda <var>:ot
lambda i:i.lower()
lambda i:i.lower(),l
map(lambda i:i.lower(),l)
list(map(lambda i:i.lower(),l))

hyd
chennai
mumbai

['hyd', 'chennai', 'mumbai']

**Filter**

- whenever if conditions are there use filter

In [25]:
l=['hyd','chenna#i','mm#bai']
#op=['chenna#i','mm#bai']
for i in l:
    if '#' in i:
        print(i)
#lambda <arg>:expre
#lambda <var>:ot
lambda i: '#' in i
#mistake-1:lambda i:if '#' in i,
#       do not write  if
lambda i: '#' in i,l
map(lambda i: '#' in i,l)
list(map(lambda i: '#' in i,l))
list(filter(lambda i: '#' in i,l))

chenna#i
mm#bai

['chenna#i', 'mm#bai']

In [26]:
l=['rani','rena','ricky']
#op=['rani','rena','ricky']
for i in l:
    if 'r' in i:
        print(i)
list(map(lambda i :'r' in i,l))
list(filter(lambda i :'r' in i,l))

rani
rena
ricky

['rani', 'rena', 'ricky']

In [31]:
n=[1,3,2,7,6]
#op=[2,6]
for i in n:
    if i%2==0:
        print(i)

list(map(lambda i :i%2==0,n))
list(filter(lambda i :i%2==0,n))

2
6

[2, 6]

In [ ]:
**Reduce**

- All inbuilt unctions can achive by reduse

- reduse is available from functiontools package

- level-1:reduce(lambda summ,i:summ+i,l1)

- level-2:reduse(lambda summ,i:summ+i,l1,initial_value)

- for example we want initialize smm=0 then we choose level-1

- for example we want to start with other than zero then we choose level-2

In [33]:
l1=[1,2,3,4,5]
#i want sum of the elements in alist

#method-1:sum
sum(l1)
#method-2:without sum
sum=0
for i in l1:
    sum=sum+i
print(sum)

15

In [45]:
summ=0
l1=[1,2,3,4,5]
for i in l1:
    summ=summ+i
print(summ)
list(map(lambda summ,i:summ+i,l1))

15

TypeError: <lambda>() missing 1 required positional argument: 'i'

In [46]:
import functools

In [3]:
dir(functools)

NameError: name 'functools' is not defined

In [4]:
import functools
l1=[1,2,3,4,5]
functools.reduce(lambda summ,i:summ+i,l1)

15

In [5]:
from functools import reduce
l1=[1,2,3,4,5]
reduce(lambda summ,i:summ+i,l1)

15

In [ ]:
import functools as ft
ft.reduce(lambda summ,i:summ+i,l1)

In [6]:
summ=1
l1=[1,2,3,4,5]
from functools import reduce
functools.reduce(lambda summ,i:summ+i,l1,1)

16

In [7]:
summ=2
import functools
l1=[2,4,6,8]
for i in l1:
    summ=summ+i
print(summ)
functools.reduce(lambda summ,i:summ+i,l1,2)

22

22

In [9]:
sum=3
import functools as ft
l1=[4,6,8,2]
for i in l1:
    sum=sum+i
print(sum)
ft.reduce(lambda sum,i:sum+i,l1,3)

23

23

In [10]:
import functools

In [11]:
functools

In [ ]:
#maximum value using reduce
#map:direct attack
#filter:if conditions
#reduce:

#i want detailed word document with examples